ass-agg-papi3/ass-agg-papi/src/main/mule/assessment-aggregation-papi-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:evaluation-systems-assessment-api="http://www.mulesoft.org/schema/mule/evaluation-systems-assessment-api" xmlns:category-system-api="http://www.mulesoft.org/schema/mule/category-system-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/category-system-api http://www.mulesoft.org/schema/mule/category-system-api/current/mule-category-system-api.xsd
http://www.mulesoft.org/schema/mule/evaluation-systems-assessment-api http://www.mulesoft.org/schema/mule/evaluation-systems-assessment-api/current/mule-evaluation-systems-assessment-api.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="get-average-by-type" doc:id="0cf30313-ea7d-43f1-b01a-28ec41645139">
		<db:select doc:name="Select" doc:id="1cd300d9-d5ce-4c12-a6e4-ecd2f90b488b" >
			<db:sql ><![CDATA[SELECT (assessmentType, AVG(score)) FROM recordstable GROUP BY assessmentType]]></db:sql>
		</db:select>
	</flow>
	<flow name="get-average-by-category" doc:id="ec2c9df8-94a3-46c6-9f81-0695e9134755" >
		<db:select doc:name="Select" doc:id="7b5db424-33ac-436b-af58-e7f1633e030a" >
			<db:sql ><![CDATA[SELECT (skillCategory, AVG(score)) FROM recordstable GROUP BY skillCategory]]></db:sql>
		</db:select>
	</flow>
	<flow name="get-database" doc:id="b779347d-4912-48a6-8280-6fbb267d935a" >
		<scheduler doc:name="Scheduler" doc:id="290d73a9-65f6-49ba-9309-996f2218aa30">
			<scheduling-strategy>
				<fixed-frequency frequency="1" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="483c4588-07ce-4022-a263-0902b4dd077f" key="maxId" objectStore="Object_store" target="maxId" targetValue="#[payload as Number]">
						<os:default-value><![CDATA[0]]></os:default-value>
					</os:retrieve>
		<flow-ref doc:name="Flow Reference" doc:id="c594ce1d-3afb-459d-8d23-f11a9fd389bb" name="get-all-grades"/>
		<choice doc:name="Choice" doc:id="585e37ba-48fc-446d-9f78-c8c88e4c4b5c">
						<when expression="#[payload.numberOfEntries&gt;vars.maxId]">
							<os:store doc:name="Store" doc:id="22538fc5-a0be-438b-9d99-bdfd5e7a1295" objectStore="Object_store" key="maxId">
					<os:value ><![CDATA[#[payload.numberOfEntries]]]></os:value>
				</os:store>
				<foreach doc:name="For Each" doc:id="f844e3bc-2bbe-4a8f-9f86-83a40cfd0f91">
						<flow-ref doc:name="get-grades" doc:id="212da6f9-1afc-4d17-8e37-0ffcb90eafa2" name="get-grades-by-id" />
					<logger level="INFO" doc:name="Logger" doc:id="730ba31c-554d-4649-a026-5f918d5d3421" message="#[payload]" />
					<flow-ref doc:name="get-assessments-by-id" doc:id="d3343e35-3895-4fd9-b4fe-ad7dbb27a9b2" name="get-assessments-by-id" />
			<logger level="INFO" doc:name="Logger" doc:id="a89c6ec7-e79a-403a-b6d6-70cf1efa9bd4" message="#[payload]" />
			<flow-ref doc:name="get-category-by-id" doc:id="0db37bb0-4309-4145-a139-4dc85e955de1" name="get-category-by-id" />
						<logger level="INFO" doc:name="Logger" doc:id="291482a7-cd57-46cf-bfd2-e014305f2acb" message="#[payload]" />
			<db:insert doc:name="Insert" doc:id="aaf74db9-e84d-4503-8751-6a9f6c3b7a9e" config-ref="Database_Config">
				<db:sql><![CDATA[INSERT INTO recordstable(id, score, assessmentType, skillCategory) VALUES(:id, :score, :assessmentType, :skillCategory)]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	id: payload.gradeId,
	score: payload.score,
	assessmentType: payload.assessmentType,
	skillCategory: payload.skillCategory,
}]]]></db:input-parameters>
			</db:insert>
		</foreach>
						</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="df062243-564d-4ab9-a2f2-090978967969" message='#[message: "Sorry, no new records."]'/>
			</otherwise>
					</choice>
		<flow-ref doc:name="get-all-categories" doc:id="297d5349-8a7d-457c-b691-5a76db9fa631" name="get-all-categories" />
	</flow>
	<sub-flow name="get-all-grades" doc:id="3299bd39-11e2-4cb4-b2f2-5e94bf842149" >
		<evaluation-systems-assessment-api:get-grades doc:name="Get grades" doc:id="a3a2af4f-a512-444c-ba94-87fa669e8341" config-ref="Evaluation_Systems_Assessment_API_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="66f0726f-004a-466e-b5f9-279c6277f664" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
numberOfEntries: max(payload.gradeId)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="get-grades-by-id" doc:id="b4875c10-5a71-4689-8d83-fd32131a2ee6" >
		<evaluation-systems-assessment-api:get-grade-by-id doc:name="Get grade by id" doc:id="ee031f3d-3810-4705-8292-01b732c86b65" config-ref="Evaluation_Systems_Assessment_API_Config" id="#[vars.counter]"/>
		<ee:transform doc:name="Transform Message" doc:id="b948b23d-65a8-43b9-b9a3-7a86d8b8051e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	gradeId: payload.gradeId,
	assessmentId: payload.assessmentId,
	score: payload.score
		
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="get-assessments-by-id" doc:id="5609c3b1-e138-4777-8dcc-7128d35fb528" >
		<set-variable value="#[payload.gradeId as Number]" doc:name="gradeId" doc:id="54b97d3a-f7d5-432b-bc5d-eb009ec88929" variableName="gradeId" />
		<set-variable value="#[payload.score as Number]" doc:name="gradeScore" doc:id="9ab27a78-bae6-44af-b157-523ff83a7673" variableName="gradeScore" />
		<evaluation-systems-assessment-api:get-assessment-by-id doc:name="Get assessment by id" doc:id="eabfbd33-aaca-469f-9288-9dd1b1ecffef" config-ref="Evaluation_Systems_Assessment_API_Config" id="#[payload.assessmentId]"/>
		<ee:transform doc:name="Transform Message" doc:id="898ad9ec-a83d-4b87-900d-e81dfa207a6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	gradeId: vars.gradeId,
	assessmentCategory: payload01.assessmentCategory,
	assessmentType: payload01.assessmentType,
	score: vars.gradeScore
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="get-category-by-id" doc:id="a1763c83-e2be-4de7-880e-19baceccdc73" >
		<set-variable value="#[payload.gradeId as Number]" doc:name="gradeId" doc:id="0bd777d2-bbac-4bfc-ba0a-344842500dee" variableName="gradeId" />
		<set-variable value="#[payload.assessmentType as String]" doc:name="assessmentType" doc:id="c2b25621-18fd-492c-9559-8bb313cf7a56" variableName="assessmentType"/>
		<set-variable value="#[payload.score as Number]" doc:name="gradeScore" doc:id="cc91579a-650f-4aad-881a-2cdb065d6d18" variableName="gradeScore" />
		<category-system-api:get-category-by-id doc:name="Get category by id" doc:id="47ea450e-838e-4e52-a1c5-6ff65f13feb4" config-ref="Category_System_API_Config" id="#[payload.assessmentCategory]" />
		<ee:transform doc:name="Transform Message" doc:id="e93ed351-14fc-4351-a689-9cbdff93e6d6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	gradeId: vars.gradeId,
	skillCategory: payload01.skillCategory,
	assessmentType: vars.assessmentType,
	score: vars.gradeScore
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="get-all-categories" doc:id="c542ad9e-a881-4ce5-b1c8-f810be2c6be7" >
		<category-system-api:get-categories doc:name="Get categories" doc:id="6be05e6b-6533-4323-8fe5-144d6a6cbec2" config-ref="Category_System_API_Config" />
		<ee:transform doc:name="Transform Message" doc:id="7d061edd-7dd4-4d70-9786-d939cc98e07c">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="category-list" ><![CDATA[%dw 2.0
output application/java
---
{	category: payload.skillCategory,
	sum: 0,
	count: 0
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
</mule>
